*{
    margin: 0;
    padding: 0;
}
body{
    padding: 25px 320px;
}

.Top{
    padding: 15px;
    font-size: 50px;
    text-align: center;
    color: red;
    background-color: rgb(224, 114, 114);
}

.Mid{
    margin: 15px 0px;
    background-color: #3B3B3B;
    padding: 10px 200px;
}
li {
    list-style: none;
}
.Mid ul  {
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 25px;
}

.content {
    margin: 15px 0px;
    padding: 13px 30px;
    color: antiquewhite;
    background-color: #333333;
}
.ThemMoi{
    margin: 30px 0px;
}
.ThemMoi input{
    border-radius: 5px;
    background-color: rgb(247, 229, 229);
    border: 1px #fff solid;
    padding: 15px;
}

.Button1 input{
    margin-left: 20px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover{
    background-color: #cabbbb;
}

.SanPham table{ 
    width: 100%;
    border-collapse: collapse;
    border: 1px #999 solid;
}
.SanPham table th{
    padding: 13px 0px;
}
.SanPham table th:nth-child(1){
    width: 5%;
    background-color: #ccc;

}
.SanPham table th:nth-child(2){
    width: 10%;
    background-color: #ccc;

}
.SanPham table th:nth-child(3){
    width: 35%;
    background-color: #ccc;

}
.SanPham table th:nth-child(4){
    width: 20%;
    background-color: #ccc;

}
.SanPham table th:nth-child(5){
    width: 15%;
    background-color: #ccc;

}
.SanPham table th:nth-child(6){
    width: 15%;
    background-color: #ccc;

}

.SanPham table td{
    padding: 20px 10px;
    text-align: center;
    border: 1px #999 solid;

}
.SanPham input{
    border-radius: 5px;
    background-color: rgb(247, 229, 229);
    border: 1px #fff solid;
    padding: 10px;
    font-size: 15px;
}
.center {
    padding: 40px;
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #c5b363;
    color: #000;
    border: 1px solid #c5b363;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

