*{
    margin: 0;
    padding: 0;
}
body{
    color: antiquewhite;
    font-family:'Courier New', Courier, monospace;
}
li {
    list-style: none;
}
.Top{
    color:antiquewhite;
    font-size: 15px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
}
.Mid{
    padding: 15px 230px;
    background-color: #3B3B3B;
    display: flex;   
}
.Logo,.GioHang{
    margin: auto;
    float: left;
}
.TimKiem{
    margin:  auto;
    float: left;
    display: flex;
}

.TimKiem .input{
    border: 1px solid #000;
    background-color: #fff;
}
.input button {
    background-color: #fff;
    border: none;
}
.input .otimkiem {
    border: none;
    outline: none;
    padding-left: 10px;
}
.input i {
    margin-right: 10px;
}
.GioHang button{
    width: 30px;
    height: 30px;
    background-color: #3B3B3B;
    border: none;
}
.Bottom{
    background-color: #3B3B3B;
    padding: 10px 200px;
}
.Trangchu,.Vechungtoi,.Giaybongda,.Phukien,.Cachchonsize,.Tintuc,.Lienhe{
    float: left;
}
a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
}
.Bottom ul  {
    display: flex;
    justify-content: space-around;
}
ul.menu_Giaybongda{
    padding-left: 10px;
    background-color: #3B3B3B;
    position: absolute;
    width: 230px;
    display: flex;
    flex-direction: column;
}
ul.menu_Giaybongda li  {
    margin-right: 10px;
    margin-top: 10px;
    display: none;
}
.Bottom ul li.giaybongda:hover ul.menu_Giaybongda li {
    display: block;
}
ul.menu_Phukien{
    padding-left: 20px;
    background-color: #3B3B3B;
    position: absolute;
    width: 230px;
    display: flex;
    flex-direction: column;
}
ul.menu_Phukien li  {
    margin-top: 10px;
    display: none;
}
.Bottom ul li.MPhukien:hover ul.menu_Phukien li {
    display: block;
}

ul.menu_TaiKhoan{
  padding-left: 20px;
  background-color: #333333;
  position: absolute;
  width: 180px;
  display: flex;
  flex-direction: column;
}
ul.menu_TaiKhoan li  {
  padding: 5px;
  display: none;
}
.Top ul li.TaiKhoan:hover ul.menu_TaiKhoan li {
  display: block;
}








.End{
    padding-top: 40px;
    background-color: #333333;
}
footer{
    padding-bottom: 40px;
    padding-top: 20px;
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    float: left;
    width: 100%;
}
.CamOn{
    padding-top: 20px;
    width: 31%;
    float: left;
  }
  .Contact{
    padding-top: 20px;
    width: 30%;
    float: left;
  
  }