body{
    margin: 0;
    color: white;
    font-family:'Courier New', Courier, monospace;
}
li {
    list-style: none;
}
.Top{
    color:antiquewhite;
    font-size: 15px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
}
.Mid{
    padding-left: 150px;
    padding-right: 150px;
    background-color: #3B3B3B;
    display: flex;
    
}
.Logo,.GioHang{
    margin: auto;
    float: left;
}
.TimKiem{
    margin:  auto;
    float: left;
    display: flex;
}

.TimKiem .input{
    border: 1px solid #000;
    background-color: #fff;
}
.input button {
    background-color: #fff;
    border: none;
}
.input .otimkiem {
    border: none;
    outline: none;
    padding-left: 10px;
}
.input i {
    color: #000;
    background-color: #fff  ;
    margin-right: 10px;

}


.GioHang button{
    width: 30px;
    height: 30px;
    background-color: #3B3B3B;
    border: none;
}

.Bottom{
    background-color: #3B3B3B;
    padding: 10px 150px;
}
.Trangchu,.Vechungtoi,.Giaybongda,.Phukien,.Cachchonsize,.Tintuc,.Lienhe{
    color:antiquewhite;
    margin: auto;
    text-align: center;
    float: left;
}
a{
    text-align: left;
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
}
.Bottom ul  {
    display: flex;
    justify-content: space-around;
}
ul.menu_Giaybongda{
    padding-top: 15px;
    background-color: #3B3B3B;
    left: 660px;
    position: absolute;
    width: 230px;
    display: flex;
    flex-direction: column;
}
ul.menu_Giaybongda li  {
    padding: 10px;    
    display: none;
}
.Bottom ul li.giaybongda:hover ul.menu_Giaybongda li {
    display: block;
}
ul.menu_Phukien{
    padding-top: 15px;
    background-color: #3B3B3B;
    left: 900px;
    position: absolute;
    width: 230px;
    display: flex;
    flex-direction: column;
}
ul.menu_Phukien li  {
    padding: 10px;
    display: none;
}
.Bottom ul li.MPhukien:hover ul.menu_Phukien li {
    display: block;
}

ul.menu_TaiKhoan{
    background-color: #333333;
    left: 1605px;
    position: absolute;
    width: 180px;
    display: flex;
    flex-direction: column;
  }
  ul.menu_TaiKhoan li  {
    padding: 5px;
    display: none;
  }
  .Top ul li.TaiKhoan:hover ul.menu_TaiKhoan li {
    display: block;
  }



.boddy{
    padding: 50px 300px;
}

