*{
    margin: 0;
    padding: 0;
}
body{
    padding: 25px 320px;
}

.Top{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 50px;
    text-align: center;
    color: red;
    background-color: rgb(224, 114, 114);
}

.Mid{
    background-color: #3B3B3B;
    padding: 10px 200px;
    margin: 15px 0px;
}
li {
    list-style: none;
}
.Mid ul  {
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 25px;
}

.content {
    margin-bottom: 15px;
    padding: 13px 30px;
    color: antiquewhite;
    background-color: #333333;
}


.ThemMoi input{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(247, 229, 229);
    border: 1px #fff solid;
}
.Them{
    padding-top: 20px;
}
.Them input{
    margin-left: 20px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover{
    background-color: #cabbbb;
}